body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: blue;
    background: plum;
}
.container {
    text-align: center;
}
.display {
    font-size: 3em;
    margin-bottom: 20px;
}